.animais {
    background-color: $cor-1;
    background-image: url("../img/snow.webp");
    color: $cor-5;
    padding: 70px 0
}

.header-animais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;

    .botoes {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            opacity: 0.7;
            font-size: 0.875rem;
            @include transit;

            &:hover {
                opacity: 1
            }
        }

        @include mediaQuery(m) {
            margin-top: 20px
        }
    }

    @include mediaQuery(m) {
        flex-direction: column;

        h2 {
            text-align: center;
        }
    }
}

.anterior::after {
    content: '';
    width: 1px;
    height: 10px;
    background-color: $cor-5;
    display: inline-block;
    margin: 0 7px;
    opacity: 0.5
}

.container-animais {
    width: 100%;
    overflow: hidden;

    @include mediaQuery(m) {
        max-width: 640px;
        margin: 0 auto
    }

    @include mediaQuery(s) {
        max-width: 420px;
    }

    @include mediaQuery(xs) {
        max-width: 200px;
    }
}

.js-scroll-animais {
    display: grid;
    grid-auto-columns: 23%;
    grid-auto-flow: column;
    grid-template-rows: auto;
    width: 100%;
    grid-gap: 2.66%;
    transition: .5s ease-in-out;
    transform: translateX(0);
    cursor: grab;

    @include mediaQuery(m) {
        grid-auto-columns: 30%;
        grid-gap: 5%;
    }

    @include mediaQuery(s) {
        grid-auto-columns: 45%;
        grid-gap: 10%;
    }

    @include mediaQuery(xs) {
        grid-auto-columns: 99%;
        grid-gap: 1%;
    }
}

.card {
    width: 100%;
    @include transit;

    .borda-card-animais {
        border: 2px dashed $cor-8;
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        height: 100%
    }
}


.item-animais {
    background: $cor-5;
    border-radius: 5px;
    overflow: hidden;
    color: $cor-4;
    display: block;
    height: 100%;

    .img {
        width: 100%;
        height: 10rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.nome-animal {
    text-align: center;
    padding: 5px 0;
    font-family: "Caveat Brush", serif;
    font-size: 1.25rem;
    background-color: $cor-2;
    color: $cor-5
}

.descricao-animais {
    padding: 10px;

    span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0.7;
        font-size: 0.75rem;
    }

    .descricao {
        margin: 15px 0
    }
}

.raca {
    text-transform: uppercase;
    font-weight: bold;
}


.todos-os-animais {
    margin-top: 45px;
    color: $cor-5;
    font-family: "Caveat Brush", serif;
    font-size: 1.25rem;
    display: table;
    margin-left: auto;

    @include mediaQuery(m) {
        margin-right: auto;
        margin-left: auto;
    }
}