.caracteristicas {
    text-align: center;
    background-color: $cor-1;
    padding: 3rem 0;
    color: $cor-5;
    background-image: url('../img//snow.webp');

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        @include mediaQuery(m) {
            flex-direction: column;
        }
    }

    li {
        max-width: 100px;
    }

    li+li {
        margin-left: 100px;

        @include mediaQuery(m) {
            margin-left: 0;
            padding-top: 30px;
        }
    }

    img {
        width: 50px;
        height: auto;
        margin-bottom: 10px
    }

    a {
        margin-top: 70px;
        background-color: $cor-5;
        color: $cor-2;
    }
}