footer {
    background-color: $cor-2;
    color: $cor-5;
    padding: 30px 0;
    font-size: 0.875rem;

    .row-1 {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);

        @include mediaQuery(s) {
            text-align: center;
            margin: 0 auto;
            grid-template-columns: auto;
            grid-gap: 3.5rem;
            width: 300px
        }
    }

    @include mediaQuery(xl) {
        font-size: 16px;
    }


    @include mediaQuery(xs) {
        font-size: 0.75rem;
    }
}

.menu {
    p {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    a {
        display: block;
    }

    a+a {
        margin-top: 5px;
    }
}

.endereco-footer {
    span {
        display: flex;

        @include mediaQuery(s) {
            justify-content: center;
        }
    }

    span+span {
        margin-top: 15px;
    }

    @include mediaQuery(s) {
        margin-left: auto !important;
        margin-right: auto;
        text-align: center;
        width: 300px;
    }
}

.redes-sociais {
    span {
        display: block;
        margin-top: 1rem;
    }

    a+a {
        margin-left: 10px;
    }

    img {
        width: 1.5rem;
    }
}

.made-by {
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px dashed rgba(253, 230, 227, 0.25);
}