header {
    position: fixed;
    width: 100%;
    z-index: 999;
    @include transit;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        max-width: 1100px;
    }

    .logo {
        font-family: "Caveat Brush", serif;
        font-size: 2rem;
        color: $cor-5;
        background: $cor-1;
        height: 4rem;
        width: 5rem;
        display: grid;
        place-items: center;
        border-bottom-left-radius: .2rem;
        border-bottom-right-radius: .2rem;
    }

    nav>ul {
        display: flex;
        height: 4rem;
        padding: .7rem
    }

    .dropdown-item,
    .lista-menu {
        position: relative;
    }

    .dropdown-btn {
        &::after {
            content: '▼';
            position: absolute;
            right: -.1rem;
            font-size: .7rem;
        }
    }

    .sub-btn {
        &::after {
            right: 1rem;
        }
    }

    .lista-menu>li>a,
    .lista-menu>.dropdown-item>button {
        padding: 6px 15px;
        @include transit;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .dropdown-btn:hover~.dropdown-lista,
    .dropdown-lista:hover {
        display: flex;
    }

    .dropdown-lista {
        position: absolute;
        background: $cor-4;
        color: $cor-5;
        border-radius: .2rem;
        display: none;
        flex-direction: column;
        min-width: 9rem;
        text-align: center;
    }

    .dropdown-item a,
    .sub-btn {
        width: 100%;
        padding: 1rem;

        &:hover {
            background: $cor-1;
        }
    }

    .lista-racas-menu {
        left: 100%;
        top: 0
    }

    .lista-menu>li+li {
        margin-left: 5px
    }

    &.scrolled {
        background: $cor-2;
        color: $cor-5;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);

        .menu-mobile {
            .barra-menu {
                background: $cor-5;
            }
        }
    }
}


.menu-mobile {
    font-size: 30px;
    position: relative;
    width: 1.8rem;
    height: 1.3rem;
    display: none;

    @include mediaQuery(m) {
        display: block;
    }

    &.ativo {
        & .barra-menu {
            transform: rotate(45deg);

            &::after {
                transform: rotate(-90deg);
            }

            &::before {
                display: none;
            }
        }
    }

    & .barra-menu {
        width: 100%;
        height: 3px;
        background: $cor-1;
        border-radius: 3px;
        transition: .5s;
        display: block;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            @extend .barra-menu;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            @extend .barra-menu;
        }
    }
}

.js-nav-mobile {
    @include mediaQuery(m) {
        transform: translateX(100vw);
        position: absolute;
        background-color: $cor-2;
        top: 60px;
        left: 0;
        width: 100%;
        min-height: calc(100vh - 60px);
        padding: 0 15px 30px 15px;
        text-align: center;
        transition: 1.5s;
        color: $cor-5;

        & a,
        & button {
            width: 100%;
            padding: 1rem !important
        }

        & li {
            margin: 0 !important;
        }

        & ul {
            height: 100%;
            flex-direction: column;
        }

        & .dropdown-lista {
            position: relative;
        }

        & .lista-racas-menu {
            left: 0;
        }

        &.ativo {
            transform: translateX(0);
        }
    }
}