.sub-header {
    background-color: $cor-2;
    color: $cor-3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    height: 30px;
    font-size: 0.875rem;
}

.wtsp::after {
    content: '';
    width: 1px;
    height: 10px;
    background-color: $cor-3;
    display: inline-block;
    margin: 0 7px;
    opacity: 0.5
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    color: $cor-3;
    background-color: #cd594c;
    background-image: url("../img/snow.webp");
    position: sticky;
    top: 0px;
    width: 100%;
    height: 70px;
    box-shadow: 0px 2px 1px 0px $cor-2;
    z-index: 999;

    .logo {
        font-family: "Caveat Brush", serif;
        font-size: 2.25rem
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    a {
        color: $cor-3;
        padding: 6px 15px;
        border-radius: 5px;
        @include transit
    }

    li+li {
        margin-left: 5px
    }

    a:hover {
        background: $cor-2
    }
}

.link-agende,
.link-adote {
    padding: 6px 20px;
    font-family: "Caveat Brush", serif;
    font-size: 1.25rem;
    margin-left: 15px;
    border-radius: 5px;
}

.link-agende {
    border: 2px dashed $cor-3;

    &:hover {
        background: rgba(253, 230, 227, 0.2)
    }
}

.link-adote {
    background: $cor-3;
    color: $cor-1;

    &:hover {
        color: $cor-3;
    }
}

.menu-mobile {
    font-size: 30px;
    position: relative;
    width: 1.8rem;
    height: 1.3rem;
    display: none;

    &.ativo {
        .barra-menu {
            transform: rotate(45deg);
            transition: 1s;

            &::after {
                transform: rotate(-90deg);
                transition: 1s;

            }
        }
    }

    .barra-menu {
        width: 100%;
        height: 3px;
        background: $cor-3;
        border-radius: 3px;

        &::after {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            bottom: 0;
            background: $cor-3;
            border-radius: 3px;
            display: block;
        }

        &::before {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            top: 0;
            background: $cor-3;
            border-radius: 3px;
            display: block;
        }
    }
}