.mapa {
  .container {
    position: relative;
  }

  iframe {
    display: block;
  }

  .mapa-endereco {
    background: $cor-1;
    position: absolute;
    top: -2.5rem;
    right: 0;
    padding: 1rem 2rem;
    border-radius: .2rem;
    color: $cor-5;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    .tel {
      display: block;
      margin-top: 1rem;
    }

    &::after {
      content: '';
      border: 9px solid transparent;
      border-top-color: $cor-1;
      position: absolute;
      bottom: -18px
    }
  }
}