.principal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 4rem);
    padding: 4rem 0;
    background-image: url('../img/img-bg-1.webp'), url('../img/img-bg-2.webp'), url('../img/img-bg-3.webp'), url('../img/img-bg-4.webp');
    background-repeat: no-repeat;
    background-position: 10% 20%, 20% 75%, 90% 20%, 80% 75%;
    background-size: 150px, 150px, 150px, 150px;
    margin-top: 4rem;

    .balls {
        border-radius: 50%;
        position: absolute;
    }

    #ball-1 {
        width: 2rem;
        height: 2rem;
        background: $cor-7;
        left: 7%;
        top: 50%
    }

    #ball-2 {
        background: $cor-6;
        width: 2.7rem;
        height: 2.7rem;
        left: 40%;
        top: 80%
    }


    #ball-3 {
        background: $cor-8;
        width: 4rem;
        height: 4rem;
        left: 90%;
        top: 65%
    }

    #ball-4 {
        width: 1.6rem;
        height: 1.6rem;
        background-color: $cor-1;
        left: 60%;
        top: 7%
    }
}

.txt-principal {
    z-index: 2;
    color: $cor-2;
    text-align: center;
    margin-top: -4rem;

    p {
        margin: 1rem auto 2rem auto;
        width: 50%;
        color: $cor-4
    }

    h1 {
        font-size: 6rem;
        line-height: 1;
        font-weight: 400;
        color: $cor-4;
        font-family: "Caveat Brush", serif;
        letter-spacing: -5px;

        span {
            color: $cor-1;
            //   animation: animaColor 10s infinite forwards;
        }
    }

}

.redes-sociais-home {
    position: absolute;
    bottom: 7%;
    left: 10%;

    p {
        text-align: left;
        width: 100%;
        opacity: .8;
    }

    ul {
        display: flex;
        margin-top: .5rem;

        a img {
            width: 1.5rem;
            height: 1.5rem
        }

        a {
            opacity: .5;
            @include transit;

            &:hover {
                opacity: 1;
            }
        }

        li+li {
            margin-left: .7rem;
        }
    }
}

.endereco {
    opacity: .8;
    position: absolute;
    right: 10%;
    bottom: 7%;
    display: flex;
    align-items: center;

    &::before {
        content: url('../img/geo.svg');
        display: block;
        margin-right: 1rem;
    }
}

@keyframes animaColor {
    0% {
        color: $cor-6;
    }

    33% {
        color: $cor-7
    }

    66% {
        color: $cor-1
    }

    100% {
        color: $cor-6
    }
}

#seta {
    background: url('../img/arrow.svg');
    width: 1.8rem;
    height: 1.8rem;
    background-size: 1.8rem;
    position: absolute;
    bottom: 7%;
    left: calc(50% - 1rem);
    animation: animaSeta 2s linear infinite;
    opacity: .8;
    display: flex;
    justify-content: center;

    &::before {
        content: 'scroll';
        display: block;
        color: $cor-4;
        margin-top: -.8rem;
        text-align: center;
        width: 3rem;
    }
}

@keyframes animaSeta {
    0% {
        transform: translateY(-.5rem);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-.5rem);
    }
}