.principal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 4rem);
    padding: 4rem 0;
    background-image: url('../img/img-bg-1.webp'), url('../img/img-bg-2.webp'), url('../img/img-bg-3.webp'), url('../img/img-bg-4.webp'), url('../img/lin2.svg'), url('../img/lin1.svg');
    background-repeat: no-repeat;
    background-position: 10% 20%, 20% 75%, 90% 20%, 80% 75%, left, right;
    background-size: 150px, 150px, 150px, 150px, 30%, 30%;


    .balls {
        border-radius: 50%;
        position: absolute;
    }

    #ball-1 {
        width: 2rem;
        height: 2rem;
        background: $cor-7;
        left: 7%;
        top: 50%
    }

    #ball-2 {
        background: $cor-6;
        width: 2.7rem;
        height: 2.7rem;
        left: 40%;
        top: 80%
    }


    #ball-3 {
        background: $cor-8;
        width: 4rem;
        height: 4rem;
        left: 90%;
        top: 65%
    }
}

.txt-principal {
    z-index: 2;
    color: $cor-2;
    text-align: center;
    margin-top: -4rem;

    p {
        margin: 1rem auto 2rem auto;
        width: 50%;
        color: $cor-4
    }

    h1 {
        font-size: 6rem;
        line-height: 1;
        font-weight: 400;
        color: $cor-4;
        font-family: "Caveat Brush", serif;
        letter-spacing: -5px;

        span {
            color: $cor-1
        }
    }

}

@keyframes animaColor {
    0% {
        color: $cor-6;
    }

    50% {
        color: $cor-7
    }

    100% {
        color: $cor-1
    }
}