.racas {
    margin: 100px auto;

    h2 {
        padding-bottom: 10px;
        margin-bottom: 70px;
        border-bottom: 2px dashed rgba(49, 54, 58, 0.25);

        @include mediaQuery(l) {
            margin-bottom: 0;
        }

        @include mediaQuery(m) {
            text-align: center;
        }
    }

    h3 {
        position: absolute;
        font-size: 8.75rem;
        opacity: 0.15;
        font-family: "Caveat Brush", serif;
        font-weight: 400;

        @include mediaQuery(l) {
            left: 0;
            text-align: center;
            position: relative;
        }

        @include mediaQuery(xs) {
            font-size: 5.625rem;
        }
    }
}

.racas-caes {
    position: relative;
    padding-bottom: 70px;
    margin-bottom: 70px;
    border-bottom: 2px dashed rgba(49, 54, 58, 0.25);

    h3 {
        right: 0;
        top: 0px
    }

    .img-1 img {
        mask-image: url(../img/vetor1.webp);
        -webkit-mask-image: url(../img/vetor1.webp);
    }

    .img-2 img {
        mask-image: url(../img/vetor2.webp);
        -webkit-mask-image: url(../img/vetor2.webp);
    }

    .img-3 img {
        mask-image: url(../img/vetor3.webp);
        -webkit-mask-image: url(../img/vetor3.webp);
    }

    @include mediaQuery(l) {
        margin-bottom: 0;
    }
}

.racas-gatos {
    position: relative;

    .img-1 img {
        mask-image: url(../img/vetor4.webp);
        -webkit-mask-image: url(../img/vetor4.webp);
    }

    .img-2 img {
        mask-image: url(../img/vetor5.webp);
        -webkit-mask-image: url(../img/vetor5.webp);
    }

}

.img-raca {
    img {
        width: 220px;
        height: auto;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }

    @include mediaQuery(xs) {
        order: 0 !important;
        margin: 0 auto
    }
}

.raca-item {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    -webkit-width: fit-content;
    -moz-width: fit-content;

    @include mediaQuery(l) {
        margin-top: 70px
    }

    @include mediaQuery(xs) {
        flex-direction: column;
        text-align: center;
        margin: 70px auto 0 auto !important;
    }
}

.raca-infos {
    max-width: 200px;
    margin-left: 20px;

    h4 {
        color: $cor-5;
        background-color: $cor-1;
        width: fit-content;
        -webkit-width: fit-content;
        -moz-width: fit-content;
        padding: 5px 20px;
        border-radius: 5px;
        font-family: "Caveat Brush", serif;
        font-size: 1.25rem;
        font-weight: 400;

        @include mediaQuery(xs) {
            margin: 0 auto;
            margin-top: 40px;
        }
    }

    >p {
        margin: 20px 0
    }

    span {
        display: block;
        opacity: 0.7
    }

    @include mediaQuery(l) {
        max-width: 400px;
    }

    @include mediaQuery(xs) {
        margin: 0 auto !important;
        text-align: center !important
    }
}

.racas-caes .raca-item:nth-of-type(even),
.racas-gatos .raca-item:nth-of-type(odd) {
    .raca-infos {
        margin-left: 0;
        margin-right: 20px;
        text-align: right;
    }

    h4 {
        background-color: $cor-2;
        margin-left: auto;
    }

    .img-raca {
        order: 2
    }
}

.racas-caes .raca-item:nth-of-type(even) {
    margin: -50px 0 -50px auto;

    @include mediaQuery(m) {
        margin: 70px 0 0 auto
    }
}

.racas-gatos .raca-item:nth-of-type(odd) {
    margin-left: auto;
    margin-bottom: -50px;
}