.caracteristicas {
    text-align: center;
    ul {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    li {
        max-width: 100px;
    }
    li + li {
        margin-left: 100px;
    }
    img {
        width: 50px;
        margin-bottom: 10px
    }
    a {
        padding: 6px 20px;
        font-family: "Caveat Brush", serif;
        font-size: 1.25rem;
        border-radius: 5px;
        border: 2px dashed $cor-1;
        color: $cor-1;
        background:rgba(205, 89, 76, 0.1);
        margin-top: 70px;
        &:hover {
            border: 2px dashed $cor-2;
            color: $cor-2;
            background:rgba(170, 61, 49, 0.1)
        }
    }
}