@import "padrao.scss";
@import "header.scss";
@import "caracteristicas.scss";
@import "racas.scss";
@import "animais.scss";
@import "ajude.scss";
@import "numeros.scss";
@import "mapa.scss";
@import "principal.scss";
@import "footer.scss";
@import "responsivo.scss";